<div class="container p-2">
  <div class="row">
    <div class="col category">
      <img src="https://rukminim2.flixcart.com/fk-p-flap/64/64/image/3dbe4c89fbf0003d.png?q=100" alt="">
      <div>Minutes</div>
    </div>
    <div class="col category">
      <img src="https://rukminim2.flixcart.com/fk-p-flap/64/64/image/cd6aca4f61e8ea95.png?q=100" alt="">
      <div>Mobiles</div>
    </div>
    <div class="col category">
      <img src="https://rukminim2.flixcart.com/fk-p-flap/64/64/image/9c64dfa667885ca9.png?q=100" alt="">
      <div>Appliances</div>
    </div>
    <div class="col category">
      <img src="https://rukminim2.flixcart.com/fk-p-flap/64/64/image/4d6b13d5a0e0724a.png?q=100" alt="">
      <div>Electronics</div>
    </div>
    <div class="col category">
      <img src="https://rukminim2.flixcart.com/fk-p-flap/64/64/image/ec2982e5564fe07c.png?q=100" alt="">
      <div>Fashion</div>
    </div>
    <div class="col category">
      <img src="https://rukminim2.flixcart.com/fk-p-flap/64/64/image/febcb9896245caf4.png?q=100" alt="">
      <div>Kitchen</div>
    </div>
    <div class="col category">
      <img src="https://rukminim2.flixcart.com/fk-p-flap/64/64/image/3d7144345bbcf2e4.png?q=100" alt="">
      <div>Beauty&Toys</div>
    </div>
    <div class="col category">
      <img src="https://rukminim2.flixcart.com/fk-p-flap/64/64/image/cddd92e134ba3ea9.png?q=100" alt="">
      <div>Furnitures</div>
    </div>
    <div class="col category">
      <img src="https://rukminim2.flixcart.com/fk-p-flap/64/64/image/d9eea6cd0e7b68bb.png?q=100" alt="">
      <div>Flight Booking</div>
    </div>
    <div class="col category">
      <img src="https://rukminim2.flixcart.com/fk-p-flap/64/64/image/2ebb95ec20eae8f1.png?q=100" alt="">
      <div>Grocery</div>
    </div>
  </div>
</div>
