/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.css';

h1 {
  color: blue;
}

/* h3 {
  border: 3px dotted green;
  color: chocolate;
  background-color: aquamarine;
} */
